.Wrapper {
  width: 100%;
  z-index: 2;
  background-color: #301d6f;
  background-image: linear-gradient(to bottom, #301d6f, #4f4080);
  /* background-image: url("../../../assets/images/Path\ 280.svg");
  background-repeat: no-repeat;
  background-position: bottom; */
}

/* @media only screen and (max-width: 1540px) {
  .Wrapper {
  }
}

@media only screen and (max-width: 992px) {
  .Wrapper {
  }
}

@media only screen and (max-width: 576px) {
  .Wrapper {
  }
} */
