.Wrapper {
  position: absolute;
  width: 100%;
  /* height: calc(100vh + 250px);
  overflow-y: scroll; */
  top: 50px;
  /* background-color: black; */
  background-image: url("../../../assets/images/Cloud2.svg"),
    linear-gradient(to bottom, transparent, white 250px);
  background-repeat: no-repeat;
  background-position: top;
}
