.wrapper {
  width: 400px;
  height: 640px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../../../assets/images/Proshow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.textBox {
  margin-left: 50%;
  transform: translate(-50%, -40%);
}

.ForegroundBox {
  position: absolute;
  top: 0;
  transform: translate(7px, -7px);
}

.text {
  position: relative;
  top: -60px;
  left: 10px;
  text-align: center;
  font-family: "Henny Penny", cursive;
  font-size: 28px;
  color: #ff18ef;
}

@media only screen and (max-width: 1540px) {
  .wrapper {
    width: 280px;
    height: 448px;
    background-size: cover;
  }
  .text {
    top: -40px;
    left: 7px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .wrapper {
    width: 126px;
    height: 200px;
    background-size: cover;
  }
  .text {
    top: -25px;
    left: 5px;
    font-size: 14px;
  }
}
