.bg {
  width: 350px;
  height: 530px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../../../../assets/images/AtmosCard.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.wrapper {
  width: 100%;
  position: relative;
  margin-bottom: 60px;
}

.textBox {
  position: absolute;
  left: 100%;
  transform: translate(-100%, -180%);
  bottom: 0;
  width: 262px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../../../../assets/images/AtmosAction.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.post {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 21px;
  font-family: "Henny Penny", cursive;
  color: #ffffff;
  text-align: center;
}

.poster {
  position: absolute;
  height: 311px;
  width: 311px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.text {
  position: relative;
  width: 100%;
  top: 100%;
  transform: translate(0%, -90%);
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  /* font-family: "Henny Penny", cursive; */
  font-size: 28px;
  color: #ff18ef;
  height: 202px;
}

.phone {
  font-size: 20px;
  font-family: "Baskervville", serif;
  color: #2c3190;
}

@media only screen and (max-width: 1540px) {
  .bg {
    width: 245px;
    height: 371px;
  }

  .poster {
    height: 217px;
    width: 217px;
  }

  .textBox {
    width: 184px;
    height: 50px;
  }
  .post {
    font-size: 14px;
  }
  .text {
    font-size: 18px;
    height: 140px;
  }
  .phone {
    margin-top: 16px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 992px) {
  .bg {
    width: 156px;
    height: 237px;
  }

  .poster {
    height: 140px;
    width: 140px;
  }

  .textBox {
    width: 117px;
    height: 32px;
  }
  .post {
    font-size: 10px;
  }
  .text {
    font-size: 14px;
    height: 90px;
  }
  .phone {
    margin-top: 16px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 576px) {
  .textBox {
    left: 50%;
    transform: translate(0%, -180%);
  }
}
