.wrapper {
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 3;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  /* backdrop-filter: blur(12px); */
  -webkit-backdrop-filter: blur(12px);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.bits {
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  z-index: 30;
  transform: scale(0.75);
}

.menu {
  padding: 16px;
  display: none;
}
@media only screen and (max-width: 1540px) {
  .bits {
    width: 300px;
  }
  .navbar {
    transform: scale(0.6);
    margin-left: auto;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 992px) {
  .bits {
    width: 200px;
    top: 7px;
    margin-left: 16px;
  }
  .navbar {
    display: none;
  }
  .menu {
    display: block;
  }
}

@media only screen and (max-width: 576px) {
  .bits {
    width: 100px;
  }
}
