.wrapper {
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}

.BITS {
  /* position: absolute; */
  transform: translate(-15%, -30%);
}

.text {
  /* position: absolute;
  left: 50%; */
  /* margin-top: 90px; */
  margin-top: 50px;
  /* transform: translateX(-50%); */
  font-family: "Henny Penny", cursive;
  font-size: 50px;
  color: white;
  padding: 16px;
}

.Button {
  position: absolute;
  right: 0;
}

@media only screen and (max-width: 1540px) {
  .BITS {
    height: 264px;
  }
  .text {
    font-size: 35px;
    margin-top: 30px;
  }
  .Button {
    height: 142px;
  }
}

@media only screen and (max-width: 992px) {
  .BITS {
    height: 168px;
  }
  .text {
    font-size: 22px;
    margin-top: 20px;
  }
  .Button {
    height: 90px;
  }
}

@media only screen and (max-width: 576px) {
  .text {
    /* display: none; */
    /* left: 0; */
    position: absolute;
    margin-top: 100px;
    width: 100%;
    text-align: center;
  }
}
