.wrapper {
  width: 100%;
}
.halo {
  margin-left: auto;
  margin-right: auto;
}
.content {
  width: 408px;
  height: 410px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  /* background-color: #2c3190; */
  background-image: url("../../../assets/images/Rectangle\ 134.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.textBox {
  transform: translateY(-50%);
  position: relative;
}

.post {
  position: absolute;
  top: 0;
  right: 0;
  width: 212px;
  height: 94px;
  background-image: url("../../../assets/images/Union\ 29.svg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Henny Penny", cursive;
  color: #ffffff;
  text-align: center;
}

.text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  font-family: "Henny Penny", cursive;
  font-size: 24px;
  color: #ff18ef;
  height: 202px;
  background-image: url("../../../assets/images/Union\ 28.svg");
  background-position: center;
  background-size: cover;
}

.phone {
  font-size: 20px;
  font-family: "Baskervville", serif;
  color: #2c3190;
}
