.bg {
  width: 370px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../../../../assets/images/EventsCard.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.wrapper {
  width: 100%;
  position: relative;
  margin-bottom: 60px;
}

.textBox {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 0;
  width: 560px;
  height: 210px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../../../../assets/images/EventsCloud.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.post {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-140%, 100%);
  font-size: 20px;
  font-family: "Henny Penny", cursive;
  color: #ffffff;
  text-align: center;
}

.poster {
  position: absolute;
  height: 300px;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  width: 100%;
  transform: translateY(10px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  /* font-family: "Henny Penny", cursive; */
  font-size: 24px;
  color: #ff18ef;
  height: 202px;
}

.phone {
  font-size: 20px;
  font-family: "Baskervville", serif;
  color: #2c3190;
}

@media only screen and (max-width: 1540px) {
  .bg {
    width: 266px;
    height: 380px;
    background-size: contain;
  }

  .poster {
    height: 210px;
    width: 210px;
  }

  .textBox {
    width: 350px;
    height: 148px;
  }
  .post {
    font-size: 14px;
  }
  .text {
    font-size: 16px;
    height: 140px;
  }
  .phone {
    margin-top: 16px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 992px) {
  .bg {
    width: 156px;
    height: 237px;
    background-size: contain;
  }
  .poster {
    height: 130px;
    width: 130px;
  }
  .textBox {
    width: 250px;
    height: 92px;
  }
  .post {
    font-size: 10px;
  }
  .text {
    font-size: 12px;
    height: 90px;
  }
  .phone {
    margin-top: 8px;
    font-size: 10px;
  }
}
